<ion-content>
    <mat-toolbar class="toolbar">
        <div class="full-width flexbox-row row" *ngIf="!loading">
            <div class="col-1 icon-add">
                <button mat-icon-button>
                  <mat-icon class="btn-menu-header">arrow_back</mat-icon>
              </button>
            </div>
            <div class="col-9 text2">
                {{group.course.name}} {{group.name}}
                <b></b>
            </div>
            <div class="col-1 icon-add">
                <button mat-icon-button>
                    <mat-icon class="btn-menu-header">description</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <div class="row center-horizontal" *ngIf="!loading">
        <div class="col-6">
            <div class="text" style="margin: 15px;">Semestre:{{group.course.semester}}</div>
        </div>
        <div class="col-6">
            <div class="col-12 center-horizontal">
                <b class="text" style="margin: 15px;">Automática</b>
                <p-inputSwitch [(ngModel)]="registerAuto" [style]="{margin:'15px'}"></p-inputSwitch>
            </div>
            <div class="col-12 center-horizontal text" *ngIf="!registerAuto">
                <mat-form-field class="full-width">
                    <mat-label>Hora registar asistencia</mat-label>
                    <input matInput [(ngModel)]="group.delay">
                </mat-form-field>
                <button pButton pRipple label="register" icon="pi pi-times" class="p-button-text" (click)="updtGroup()"></button>
            </div>
        </div>
    </div>
    <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matTableExporter #exporter="matTableExporter">
        -->
    <!-- Position Column -->
    <!-- <ng-container matColumnDef="presence.student.name"> -->
    <!-- <mat-header-cell *matHeaderCellDef> Nombre estudiante </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{presence.student.name}} </mat-cell>
        </ng-container>
-->
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="presence.status">
            <mat-header-cell *matHeaderCellDef> {{presence.date_class}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{presence.status}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>  -->

    <!-- <button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'table'})">Export to xlsx</button>
    <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('csv')">Export To csv</button>
    <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('json')">Export To json</button>
    <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('txt')">Export To txt</button> -->
</ion-content>