<ion-content>
    <mat-toolbar class="toolbar">
        <div class="full-width flexbox-row row">
            <div class="col-1 icon-add">
                <button mat-icon-button>
                <mat-icon class="btn-menu-header">arrow_back</mat-icon>
            </button>
            </div>
            <div class="col-9 text2">
                <b>Registrar asistencia</b>
            </div>
        </div>
    </mat-toolbar>
    <mat-body>
        <div class="row center-horizontal" *ngIf="!loading">
            <div class="col-12">
                <b>{{group.course.name}} {{group.name}}</b>
            </div>
            <div class="col-12">
                <b>Profesor: {{group.teacher.name}}</b>
            </div>
            <div class="col-12">
                <b>Semestre: {{group.course.semestre}}</b>
            </div>
            <div class="col-12" *ngif="time()">
                <button pButton pRipple label="register" icon="pi pi-times" class="p-button-text" (click)="presence()"></button>
            </div>
        </div>
    </mat-body>

</ion-content>