<ion-content>
    <mat-toolbar class="toolbar">
        <div class="full-width flexbox-row row">
            <div class="col-1 icon-add">
                <button mat-icon-button>
                    <mat-icon class="btn-menu-header">arrow_back</mat-icon>
                </button>
            </div>
            <div class="col-9 text2">
                <b>Grupos</b>
            </div>
            <div class="col-1 icon-add">
                <button mat-icon-button (click)="openNew()">
                    <mat-icon class="btn-menu-header">add</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <p-toast></p-toast>
    <div class="card">
        <p-dataView #dv [value]="groups" filterBy="name" [rows]="9" layout="list">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Buscar..." (input)="dv.filter($event.target.value)"
                        />
                      </span>
                </div>
            </ng-template>
            <ng-template let-group pTemplate="listItem">
                <div class="group-item">
                    <div class="row">
                        <div class="col-8" [routerLink]="['/group/group-detail',group._id]">
                            <h5 class="p-mb-2">{{group.course.name}} {{group.name}} </h5>
                        </div>
                        <div class="col-2">
                            <h6 class="p-mb-2">{{group ? group.students.length : 0 }}</h6>
                        </div>
                        <div class="col-1">
                            <button mat-icon-button [routerLink]="['/group/group-add',group._id]">
                                    <mat-icon class="btn-menu-header">edit</mat-icon>
                                </button>
                        </div>
                        <div class="col-1">
                            <button mat-icon-button (click)="deleteGroup(group)">
                                <mat-icon class="btn-menu-header">delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>

    <p-dialog [(visible)]="groupDialog" [style]="{width: '450px',color: '#001124cc !important'}" header="Agregar Grupo" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="col-6">
                <div class="col-12">
                    <mat-label>Curso</mat-label>
                </div>
                <div class="col-12">
                    <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" placeholder="Seleccionar Curso" [options]="courses" [formControl]="selectCourse" optionLabel="name" class="multiselect-custom">
                        <ng-template let-course pTemplate="item">
                            <div class="course-item">
                                <div>{{course.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <mat-error *ngIf="code.invalid">{{getErrorMessageCourse()}}</mat-error>
                </div>
            </div>
            <div class="col-12">
                <mat-form-field class="full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput (focus)="focus()" (focusout)="focusout()" [formControl]="name" required>
                    <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="full-width">
                    <mat-label>Código</mat-label>
                    <input matInput (focus)="focus()" (focusout)="focusout()" [formControl]="code" required>
                    <mat-error *ngIf="code.invalid">{{getErrorMessageCode()}}</mat-error>
                </mat-form-field>
            </div>

        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Agregar" icon="pi pi-check" class="p-button-text" (click)="saveGroup()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</ion-content>