<ion-content>
    <mat-toolbar class="example-toolbar" style="background-color: #BAE6FF;">
        <div class="full-width flexbox-row">
            <button mat-icon-button (click)="opened=!opened" class="">
                <mat-icon class="btn-menu-header">menu</mat-icon>
            </button>
            <b>{{today}}</b>
        </div>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav [(opened)]="opened" #snav [fixedInViewport]="true" class="example-sidenav-container" color="primary" [style.marginTop.px]="0">
            <div class="user" mat-list-item [routerLink]="['user']">
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/img/user.svg" alt="" class="image-user">
                    </div>
                    <div class="col-8 name-user">
                        <div class="name-user"> {{user.full_name | titlecase}}</div>
                    </div>
                </div>

            </div>
            <mat-nav-list>
                <div class="item" id="grupos" mat-list-item [routerLink]="['../group']">
                    <img src="../../../assets/img/layers.svg" alt="" class="image-item">Grupos
                </div>
                <div class="item" mat-list-item [routerLink]="['../presence']">
                    <img src="../../../assets/img/course.svg" alt="" class="image-item">Asistencia
                </div>
                <div class="item" mat-list-item [routerLink]="['reports']" *ngIf="user.role.level!=3">
                    <img src="../../../assets/img/reports.svg" alt="" class="image-item">Reportes
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="display: flex; flex-direction: column; width: 100%; height: 100vh;">
            <div class>
                <div class="row content-sidenav" style="height: 30vh;" [routerLink]="['../presence-add',_id]">
                    <div class="col-12" *ngFor="let group of groups">
                        <div class="icon-item row" style="margin-left: 17px; margin-top: 27px;">
                            <div class="col-10">
                                <ion-label class="text2 sub-item"><b>{{group.course.name}}</b></ion-label>
                            </div>
                            <div class="col-2"><img src="../../../assets/img/layers (1).svg" class="image1"></div>
                            <div class="col-12">
                                <ion-label class="text sub-item ">{{group.name}}</ion-label>
                            </div>
                            <div class="col-12">
                                <ion-label class="text sub-item ">Código {{group.code}}</ion-label>
                            </div>
                            <div class="col-12" *ngFor="let day_week of days_week">
                                <ion-label class="text sub-item"> HORA: {{day_week.hour_start.hour}}:{{day_week.hour_start.minutes}} a {{day_week.hour_finally.hour}}:{{day_week.hour_finally.minutes}}</ion-label>
                            </div>
                            <div class="col-12">
                                <ion-label class="text sub-item"> ESTUDIANTES: {{group ? group.students.length : 0 }}</ion-label>
                            </div>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ion-content>