@import '../../../global.scss';
ion-button:hover,
ion-button:active,
ion-button:focus {
    color: rgb(6, 51, 30);
    background-color: #d0e4d4;
    border: 1px solid #8bb8a1;
    FONT-SIZE: 12pt;
}

.image-user {
    height: 60px !important;
    width: 60px !important;
    margin: 15px, 10px, 20px, 15px !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item {
    height: 50px !important;
    width: 100% !important;
    font-size: 18px !important;
    color: rgb(0, 17, 36, 0.801);
    margin-bottom: 20px !important;
    display: flex;
    align-items: center;
}

.name-user {
    height: 60px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
}

.user {
    height: 60px !important;
    width: 100% !important;
    background: #BAE6FF;
    color: #001124cc;
    font-size: 16px !important;
    display: flex;
    align-items: center;
}

.image-item {
    height: 50px !important;
    width: 40px !important;
    margin-right: 20px !important;
}

.content-sidenav {
    height: 160% !important;
    width: 100% !important;
    padding: 20px 20px 10px 10px;
}

.icon-item {
    height: 170px!important;
    width: 100% !important;
    border-top: 15px solid #27ace0;
    box-shadow: 6px 20px 10px #8babb8;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
}

.sub-item {
    height: 20px !important;
}

.image-user {}