<ion-content>
    <mat-toolbar class="example-toolbar" style="background-color: #BAE6FF;">
        <div class="full-width flexbox-row  row">
            <div class="col-11 text2">
                <b>Asignaturas</b>
            </div>
            <div class="col-1 icon-add">
                <button mat-icon-button [routerLink]="['/course/addcourse']" class="">
                <mat-icon class="btn-menu-header">add</mat-icon>
            </button>
            </div>
        </div>
    </mat-toolbar>
    <div style="background-color: rgba(255, 255, 255, 0.938); width: 100%; height: 100%;">
        <mat-nav-list>
            <div class="row item" mat-list-item [routerLink]="['group']">
                <div class="col-8 text">
                    CURSO 2A
                </div>
                <div class="col-4">
                    <button mat-icon-button matSuffix>    
                <mat-icon  style="font-size: x-large; color: #BAE6FF;">edit</mat-icon>
                </button>
                    <button mat-icon-button matSuffix (click)="deleteCourse()">
                    <mat-icon class="color" style="font-size: x-large;color: #fb9696;">delete</mat-icon>
                </button>
                </div>
            </div>
        </mat-nav-list>
    </div>
</ion-content>