@import '../../../global.scss';
ion-title {
    font-size: 1.4em;
    font-family: 'Baloo 2', cursive;
    font-family: 'Jost', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

ion-item {
    background: burlywood;
    color: blueviolet;
}

ion-card {
    width: 300px;
    height: 200px;
    align-content: center;
    background: linear-gradient(90deg, rgb(101, 228, 222) 30%, #28d3ea 70%);
    padding: 20px 0px 50px 15px;
}