<ion-content>
    <mat-toolbar class="toolbar">
        <div class="col-1 icon-add" *ngIf="!loading">
            <button mat-icon-button (click)="back()">
            <mat-icon class="btn-menu-header">arrow_back</mat-icon>
        </button>
        </div>
    </mat-toolbar>
    <div class="container-all" *ngIf="!loading">
        <div class="container-form">
            <div class="row">
                <div class="col-6">
                    <div class="col-12">
                        <mat-label>Curso</mat-label>
                    </div>
                    <div class="col-12">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" placeholder="{{group.course.name}}" [options]="courses" [(ngModel)]="selectCourse" optionLabel="name" class="multiselect-custom">
                            <div *ngIf="!selectCourse || selectCourse.length === 0" class="course-placeholder">
                                Seleccionar Curso
                            </div>
                            <ng-template let-course pTemplate="item">
                                <div class="course-item">
                                    <div>{{course.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <mat-form-field class="full-width">
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="{{group.code}}" (focus)="focus()" (focusout)="focusout()" [formControl]="code" required>
                        <mat-error *ngIf="code.invalid">{{getErrorMessageName()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="full-width">
                        <mat-label>{{group ? group.name : "Nombre"}}</mat-label>
                        <input matInput (focus)="focus()" (focusout)="focusout()" [formControl]="name" required>
                        <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-10" class="text">
                    <b>Días</b>
                </div>
                <div class="col-1">
                    <div style="padding: 5px;">
                        <button mat-icon-button (click)="dialogDay=true">
                            <mat-icon class="btn-menu-header">add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <label></label>
                </div>
                <div class="col-12">
                    <p-selectButton class="optionDays" [options]="paymentDays" [(ngModel)]="select_days_week" multiple="multiple"></p-selectButton>
                </div>
                <div class="col-12" class="text">
                    <b>Enviar correos de invitación</b>
                </div>
                <div class="col-5">
                    <mat-form-field>
                        <mat-label>Nombre del archivo</mat-label>
                        <ngx-mat-file-input [formControl]="emails" [multiple]="multiple" [accept]="accept" style="border-color: transparent;">
                            <mat-icon class="icon-file" ngxMatFileInputIcon>folder</mat-icon>
                        </ngx-mat-file-input>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <div style="padding: 5px;">
                        <button mat-icon-button>
                            <mat-icon class="btn-menu-header">send</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-2">
                    <div style="padding: 5px;">
                        <button mat-icon-button>
                            <mat-icon class="btn-menu-header">add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-12" style="align-content:flex-end !important; margin: 15px;">
                    <div class="p-input-icon-right">
                        <input class="search" type="text" pInputText placeholder="Busqueda" (input)="dv.filter($event.target.value)">
                        <i class="pi pi-search"></i>
                    </div>
                </div>
                <div class="col-12 card">
                    <p-table #dv responsiveLayout="stack" [value]="emails" filterBy="value">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>Correo Electronico</th>
                                <th>Estado</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-email let-columns="columns">
                            <tr>
                                <td><span class="p-column-title">Correo Electronico</span>{{email}}</td>
                                <td><span class="p-column-title">Estado</span><span>Enviado</span></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="col-12" style="text-align: center !important;">
                    <ion-button class="button-add" (click)="saveUser()">AGREGAR</ion-button>
                </div>
            </div>
        </div>
    </div>

    <p-dialog [(visible)]="dialogDay" [style]="{width: '450px',color: '#001124cc !important'}" header="Agregar estudiante" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="col-12">
                <p-listbox [options]="select_days_week.values" [(ngModel)]="select_day" [style]="{'width':'15rem'}"></p-listbox>
            </div>
            <div class="col-12 card">
                <div class="p-field p-col-12 p-md-4">
                    <mat-label for="timeOnly" class="text">{{group ? group.days_week.day_week.hour_start : "Hora de inicio"}}</mat-label>
                    <p-calendar [(ngModel)]="hour_start" [timeOnly]="true" inputId="hour_start"></p-calendar>
                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label class="text" for="timeonly">{{group ? group.days_week.day_week.hour_start : "Hora de finalización"}}</label>
                    <p-calendar [(ngModel)]="hour_finally" [timeOnly]="true" inputId="timeonly"></p-calendar>
                </div>
            </div>
            <div class="col-12" style="text-align: center !important;">
                <ion-button class="button-add" (click)="addDate()">AGREGAR</ion-button>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="dialogDay=false"></button>
            <button pButton pRipple label="Agregar" icon="pi pi-check" class="p-button-text" (click)="addDate()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="groupDialog" [style]="{width: '450px',color: '#001124cc !important'}" header="Agregar estudiante" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="col-12">
                <mat-form-field class="full-width">
                    <mat-label>Correo</mat-label>
                    <input matInput (focus)="focus()" (focusout)="focusout()" [formControl]="email" required class="text">
                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Enviar" icon="pi pi-check" class="p-button-text" (click)="sendEmail()"></button>
        </ng-template>
    </p-dialog>
</ion-content>