<ion-content>
    <mat-toolbar class="toolbar">
        <div class="full-width flexbox-row row">
            <div class="col-1 icon-add">
                <button mat-icon-button>
                    <mat-icon class="btn-menu-header">arrow_back</mat-icon>
                </button>
            </div>
            <div class="col-9 text2">
                <b>Registar Asistencia</b>
            </div>
        </div>
    </mat-toolbar>
    <p-toast></p-toast>
    <div class="card">
        <p-dataView #dv [value]="groups" filterBy="name" [rows]="9" layout="list">
            <ng-template pTemplate="header">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                        <i class="pi pi-search"></i>
                        <input type="search" pInputText placeholder="Buscar..." (input)="dv.filter($event.target.value)"/>
                    </span>
                </div>
            </ng-template>
            <ng-template let-group pTemplate="listItem">
                <div class="group-item">
                    <div class="row">
                        <div class="col-8" [routerLink]="['../presence-add',group._id]">
                            <h5 class="p-mb-2">{{group.course.name}} {{group.name}} </h5>
                        </div>
                        <div class="col-2">
                            <h6 class="p-mb-2">{{group ? group.students.length : 0 }}</h6>
                        </div>
                        <div class="col-1 icon-add">
                            <button mat-icon-button (click)="openNew(group._id)">
                                <mat-icon class="btn-menu-header">description</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>

    <p-dialog [(visible)]="groupDialog" [style]="{width: '400px',color: '#001124cc !important'}" header="Generar Reporte" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-8" style="margin-bottom: 20px;">
                    <div class="text">{{group.course.name}} {{group.name}}</div>
                </div>
                <div class="col-4" style="margin-bottom: 20px;">
                    <div class="text">Semestre: {{group.course.semester}}</div>
                </div>
                <div class="col-12">
                    <mat-form-field class="color col-12">
                        <mat-label>Seleccione el rango de fechas</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date">
                            <input matEndDate placeholder="End date">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Generar Reporte" icon="pi pi-check" class="p-button-text" (click)="report()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</ion-content>