@import '../../../global.scss';
input {
    color: black !important;
}

@media (min-width: 400px) {}

.text {
    color: rgb(0, 17, 36, 0.801);
    font-size: 10pt;
}

.text-header {
    color: rgba(255, 255, 255, 0.959);
    font-size: 24pt;
}

.text1 {
    color: rgba(1, 74, 156, 0.801);
    // #fab9bb
}

.container_header {
    background-color: #9CA5D6;
    color: #000c33f3;
    height: 50px;
}