@import '../../../global.scss';
input {
    color: black !important;
}

@media (min-width: 400px) {
    .img_logo {
        margin-bottom: 0px !important;
    }
}

.text {
    color: rgb(0, 17, 36, 0.801);
    font-size: 14pt;
}

.text1 {
    color: rgba(1, 74, 156, 0.801);
    // #fab9bb
}

.center-horizontal {
    display: flex;
    justify-content: center !important;
}