@import '../../../global.scss';
.swiper-slide {
    display: block;
}

.full-height {
    height: 100vh !important;
}

.content-slide {
    text-align: start !important;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.container-slide {
    height: 100% !important;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #BAE6FF;
    padding: 20px 20px 20px 20px;
}

.arrow-right {
    color: white !important;
    font-size: 25px !important;
}

.text1 {
    text-align: center !important;
    color: rgb(0, 17, 36, 0.801);
    font-size: 22px;
}

.text2 {
    text-align: start;
    color: rgba(0, 17, 36, 0.801)!important;
    font-size: 32px;
    margin-bottom: 20px;
}

.circulo {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ffffff;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.circulo-act {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00c;
    margin-left: 2px !important;
    margin-right: 2px !important;
}

.container-points {
    position: fixed;
    width: 100% !important;
    bottom: 20px !important;
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    align-items: flex-end !important;
}

.col {
    text-align: center !important;
    margin-bottom: 50px;
}